@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background-image: linear-gradient(15deg, #02aa8b7d 0%, #80d0c781 100%), url("../modelhouse_landingpage/img/background.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.text-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-hero h1{
    font-size: 60px;
}

.text-hero p{
    font-size: 25px;
    margin-bottom: 10px;
}

.text-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: white;
    border-radius: 8px;
    color: black;
}

.svg-hero{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
}

/*general styles*/

.container,
.wave-container{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.container{
    padding: 60px 0;
}

.title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.title.left{
    text-align: left;
}

.title.right{
    text-align: right;
}

.card h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

/*Sections*/

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .container-main-text{
    width: 40%;
}

.text{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(15deg, #02aa8b 0%, #80d0c7 100%);
    padding: 10px 60px;
    border-radius: 8px;
    color: white;
}

.cta:hover{
    cursor: pointer;
    color: white;
    background: black;
    transition: all 0.3s; 
}

/*About the team*/

.aboutteam{
    background-image: linear-gradient(15deg, #02aa8b 0%, #80d0c7 100%);
    color: white;
}

/*cards*/

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 500px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #02aa8b;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;
}

.card h3{
    margin-top: 10px;
    font-size: 40px;
}

.card b{
    color: #02AA8B;
}

.feature{
    display: flex;
}

/* galery */

.galery{
    background: #f2f2f2;
}

.galery-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galery-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/*info2*/

.last-section{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .container-main-text{
    width: 40%;
}

/*footer*/

.svg-wave{
    margin-bottom: -1px;
}

footer{
    font-weight: bold;
    background: #02AA8B;
    color: #fff 
}

.info-last{
    background: #f2f2f2;
}

/*navbar*/
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s; 
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #02AA8B;
}

.header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #02AA8B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: black;
    transform: scale(1.1);
}

.copyright{
    font-size: 20px;
}

.socialmedia{
    font-size: 30px;
}

.footer-content{
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.footer-content i{
    margin-right: 10px;
    padding: 50px 50px;
}

.footer-content i:hover{
    color: black;
    transition: all 0.3s;
}

@media screen and (max-widht:800px){
    .text-hero h1{
        text-align: center;
        font-size: 50px;
    }

    /* estilos generales*/
    .title{
        font-size: 35px;
    }

    .title.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .container-main-text{
        width: 100%;

    }

    /*Cards*/

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /*galeria*/
    .galery-cont>img{
        width: 48%;
    }

    /*last*/
    .last-section img{
        width: 98%;
    }

    .last-section .container-main-text{
        width: 98%;
        margin-bottom: 20px;
    }
    
}